<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      table {
        border: 1px solid black;
        margin-top: 4px;
      }
      td {
        border: 1px solid black;
        padding: 4px;
      }
    </style>

    <title>Discord Drive</title>
  </head>
  <body>
    <form action="http://localhost:5000/upload" method="POST" enctype="multipart/form-data">
      <input name="files" type="file" multiple>
      <input type="submit">
    </form>
    <table class="list"></table>

    <script>
      const list = document.querySelector(".list");
      fetch("http://localhost:5000/files").then(async (data) => {
        const files = await data.json();
        const rows = Object.keys(files)
          .map((name) => `<tr><td>${name}</td><td><a href="http://localhost:5000/download?file=${name}">Download</a></td></tr>`).join("");
        list.innerHTML = rows
      });
    </script>
  </body>
</html>